.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__f7Bxb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(0deg, #ffffff 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat;
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox__zwAzE {
  background: linear-gradient(146deg, #ffffff21 0%, #f2d599 100%) 0% 0% / 100%
      100% repeat,
    linear-gradient(62deg, #ffffff 0%, #99c7f2 100%) 0% 0% / 100% 100% repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 36px;
}
.freeBox__u71Pb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 1440px;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
.img__dtXzu {
  position: relative;
  object-fit: fill;
  max-width: 100%;
  height: 60px;
  box-shadow: none;
}
.img__dtXzu > picture > img {
  object-fit: fill;
}
.img__dtXzu > .__wab_img-spacer > img {
  object-fit: fill;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dtXzu {
    height: 50px;
  }
}
.text___5EvRi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  color: #000000;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-left: 13px;
  margin-right: 106px;
  align-self: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5EvRi {
    font-size: 30px;
    margin-left: 0px;
    text-align: left;
    padding-top: 0px;
  }
}
.link {
  position: relative;
  margin-left: 351px;
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    margin-left: 150px;
  }
}
.img__nbLm6 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.img__nbLm6 > picture > img {
  object-fit: cover;
}
.img__nbLm6 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__nbLm6 {
    width: 60px;
    height: 100%;
    flex-shrink: 0;
    min-height: 0;
  }
}
.divider__qF1J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.columns__wqeSh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__wqeSh > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__wqeSh > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wqeSh {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wqeSh > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__d7TVp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__j9SEc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 90px;
  font-weight: 300;
  color: #535353;
  font-family: "Open Sans", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j9SEc {
    font-size: 60px;
  }
}
.column__lWaa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__yR1CX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___6HqI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 554px;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
  color: #535353;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  min-width: 0;
}
.freeBox__pQ0EM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 597px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px;
}
.iframe:global(.__wab_instance) {
  width: 549px;
  height: 326px;
  max-width: 100%;
  position: relative;
  margin-left: 5px;
  align-self: flex-start;
  margin-right: 0px;
  font-weight: 200;
  font-size: 10px;
  color: #a27373;
  flex-shrink: 0;
  border-width: 1px;
  border-style: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .iframe:global(.__wab_instance) {
    height: 370px;
    width: 386px;
    flex-shrink: 0;
  }
}
.freeBox__k5A8H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1409px;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 8px;
}
.img___4AZnf {
  position: relative;
  object-fit: cover;
  max-width: 955px;
  height: 500px;
  align-self: auto;
  box-shadow: 0px 4px 16px 0px #00000066;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  border-width: 0px;
  border-style: solid;
}
.img___4AZnf > picture > img {
  object-fit: cover;
}
.img___4AZnf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___4AZnf {
    max-width: 350px;
    width: 100%;
    height: 196px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.freeBox__yrrUb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.bigBenefit__g9Uds:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1354px;
  margin: 0px 5px 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bigBenefit__g9Uds:global(.__wab_instance) {
    height: 700px;
    flex-shrink: 0;
  }
}
.text___79Tn3 {
  padding-right: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___79Tn3 {
    height: 159px;
    margin-top: 0px;
  }
}
.text__zp0D {
  font-family: "Open Sans", sans-serif;
}
.img___9L6Wf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  height: 421px;
  box-shadow: 0px 4px 8px 0px #00000080;
  border-radius: 10px;
}
.img___9L6Wf > picture > img {
  object-fit: cover;
}
.img___9L6Wf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9L6Wf {
    margin-bottom: 0px;
    height: 226px;
  }
}
.bigBenefit__rk1M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 0px;
  margin-right: 5px;
  width: 1367px;
  margin-top: 16px;
  height: 611px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bigBenefit__rk1M:global(.__wab_instance) {
    margin-top: 0px;
    height: 850px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.text___5VsB {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.text__c4Oq {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c4Oq {
    height: 161px;
    margin-top: 6px;
  }
}
.img__jnGgu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px #00000080;
  border-radius: 10px;
}
.img__jnGgu > picture > img {
  object-fit: cover;
}
.img__jnGgu > .__wab_img-spacer > img {
  object-fit: cover;
}
.bigBenefit___2UyNp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 5px;
  margin-left: 6px;
  width: 1351px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .bigBenefit___2UyNp:global(.__wab_instance) {
    height: 700px;
    margin-top: 0px;
    flex-shrink: 0;
  }
}
.text__lB8W {
  font-family: "Open Sans", sans-serif;
}
.text__p2H1D {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.img__pab6V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0;
  box-shadow: 0px 4px 8px 0px #00000080;
  border-radius: 10px;
}
.img__pab6V > picture > img {
  object-fit: cover;
}
.img__pab6V > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xmwr0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmwr0 {
    height: 100%;
    min-height: 0;
  }
}
.freeBox___56T {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #ffffff;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  min-width: 0;
  padding: 4px 0px 7px 20px;
}
.freeBox___56T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___56T > :global(.__wab_flex-container) > *,
.freeBox___56T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___56T > :global(.__wab_flex-container) > picture > img,
.freeBox___56T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___56T {
    width: 100%;
    min-width: 0;
    padding: 22px 32px 115px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___56T > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.h2 {
  font-size: 50px;
  font-weight: 600;
  color: #000000d9;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  margin-bottom: 48px;
  margin-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    align-self: stretch;
    max-width: 330px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__kuxh {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1200px;
  width: 100%;
  min-width: 0;
}
.freeBox__kuxh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__kuxh > :global(.__wab_flex-container) > *,
.freeBox__kuxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kuxh > :global(.__wab_flex-container) > picture > img,
.freeBox__kuxh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kuxh {
    height: auto;
  }
}
.columns__oK5Vk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.columns__oK5Vk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns__oK5Vk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__oK5Vk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oK5Vk {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oK5Vk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oK5Vk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oK5Vk > :global(.__wab_flex-container) > *,
  .columns__oK5Vk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__oK5Vk > :global(.__wab_flex-container) > picture > img,
  .columns__oK5Vk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__i4Epx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___47DNe {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___47DNe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___47DNe > :global(.__wab_flex-container) > *,
.freeBox___47DNe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___47DNe > :global(.__wab_flex-container) > picture > img,
.freeBox___47DNe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__wBcBl {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__l9E9N {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox___0LnH {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__dxmxV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__gJa8H {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gJa8H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gJa8H > :global(.__wab_flex-container) > *,
.freeBox__gJa8H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gJa8H > :global(.__wab_flex-container) > picture > img,
.freeBox__gJa8H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___0RBkQ {
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__wfhZ {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__r8UVe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__wfwNq {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__wfwNq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wfwNq > :global(.__wab_flex-container) > *,
.freeBox__wfwNq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wfwNq > :global(.__wab_flex-container) > picture > img,
.freeBox__wfwNq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__aaNah {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__hdOiL {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox___5Z0Zy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__nl0JB {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__jM2Ll {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jM2Ll > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jM2Ll > :global(.__wab_flex-container) > *,
.freeBox__jM2Ll > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jM2Ll > :global(.__wab_flex-container) > picture > img,
.freeBox__jM2Ll
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__rV57 {
  height: auto;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__sx6Oj {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.columns__vHe4M {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-bottom: 0px;
  flex-grow: 1;
  margin-top: calc(0px + 40px) !important;
  min-width: 0;
  padding: 8px;
}
.columns__vHe4M > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns__vHe4M > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vHe4M > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vHe4M {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-bottom: 0px;
    margin-top: calc(0px + 40px) !important;
    padding-top: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vHe4M > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vHe4M > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vHe4M > :global(.__wab_flex-container) > *,
  .columns__vHe4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vHe4M > :global(.__wab_flex-container) > picture > img,
  .columns__vHe4M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.column__dc5Op {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dc5Op {
    padding-top: 0px;
  }
}
.freeBox__zSyK2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__zSyK2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zSyK2 > :global(.__wab_flex-container) > *,
.freeBox__zSyK2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zSyK2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zSyK2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___0VrR0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg___39CZ5 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
  flex-shrink: 0;
}
.freeBox__wvUcs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__fv6Dh {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__lytj {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__lytj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lytj > :global(.__wab_flex-container) > *,
.freeBox__lytj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lytj > :global(.__wab_flex-container) > picture > img,
.freeBox__lytj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__wtTnL {
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__ledQw {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__qIyG8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__al8V {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__al8V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__al8V > :global(.__wab_flex-container) > *,
.freeBox__al8V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__al8V > :global(.__wab_flex-container) > picture > img,
.freeBox__al8V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___43UoP {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__uvooj {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__bQeWj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #007aff;
  border-radius: 8px;
  padding: 8px;
}
.svg__gufiu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.freeBox__ove4Y {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ove4Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ove4Y > :global(.__wab_flex-container) > *,
.freeBox__ove4Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ove4Y > :global(.__wab_flex-container) > picture > img,
.freeBox__ove4Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__mdcee {
  height: auto;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__id122 {
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.divider__iG11X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.freeBox___0TEEp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 59px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0TEEp {
    padding-top: 0px;
  }
}
.text___8WC7Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 251px;
  align-self: center;
  font-size: 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #535353;
  min-width: 0;
}
.columns__c69Pr {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 15px 40px;
}
.columns__c69Pr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.columns__c69Pr > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.columns__c69Pr > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.columns__c69Pr > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 30px) * 4 / 12);
}
.columns__c69Pr > :global(.__wab_flex-container) > *,
.columns__c69Pr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__c69Pr > :global(.__wab_flex-container) > picture > img,
.columns__c69Pr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c69Pr {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c69Pr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c69Pr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 30px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__c69Pr > :global(.__wab_flex-container) > *,
  .columns__c69Pr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__c69Pr > :global(.__wab_flex-container) > picture > img,
  .columns__c69Pr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 10px;
  }
}
.column__bfTr6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 2px 0px #00000026;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #e5e5ea;
}
.useCaseCard___2CSjH:global(.__wab_instance) {
  position: relative;
}
.text__euv5P {
  color: #535353;
}
.column__vmRl2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #e5e5ea;
}
.useCaseCard__dgGhO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__opWyg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #e5e5ea;
}
.useCaseCard__rFtqe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___5D7Sv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px 44px 64px 36px;
}
.freeBox___5D7Sv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___5D7Sv > :global(.__wab_flex-container) > *,
.freeBox___5D7Sv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5D7Sv > :global(.__wab_flex-container) > picture > img,
.freeBox___5D7Sv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5D7Sv {
    width: 100%;
    min-width: 0;
    padding: 128px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5D7Sv > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___9K1Ql {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1336px;
  width: 100%;
  margin-left: 8px;
  min-width: 0;
}
.freeBox___9K1Ql > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___9K1Ql > :global(.__wab_flex-container) > *,
.freeBox___9K1Ql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9K1Ql > :global(.__wab_flex-container) > picture > img,
.freeBox___9K1Ql
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__oGopm {
  flex-direction: column;
  display: flex;
}
.freeBox__oGopm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oGopm > :global(.__wab_flex-container) > *,
.freeBox__oGopm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oGopm > :global(.__wab_flex-container) > picture > img,
.freeBox__oGopm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___16XuQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___6W5Wy {
  font-size: 48px;
  font-weight: 600;
  color: #000000d9;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6W5Wy {
    text-align: center;
  }
}
.freeBox__cXsG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cXsG {
    padding-right: 0px;
  }
}
.text__repp {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  background: #e2eef4;
  margin-right: 0px;
  padding-right: 0px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__repp {
    padding-right: 0px;
  }
}
.columns__rlpoq {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__rlpoq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns__rlpoq > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns__rlpoq > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns__rlpoq > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns__rlpoq > :global(.__wab_flex-container) > *,
.columns__rlpoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rlpoq > :global(.__wab_flex-container) > picture > img,
.columns__rlpoq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rlpoq {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rlpoq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rlpoq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rlpoq > :global(.__wab_flex-container) > *,
  .columns__rlpoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rlpoq > :global(.__wab_flex-container) > picture > img,
  .columns__rlpoq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__nilG4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nilG4 {
    width: 100%;
  }
}
.freeBox__azFli {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  padding-bottom: 0px;
  min-width: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox___4KeXv {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 0px 32px;
}
.freeBox___4KeXv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4KeXv > :global(.__wab_flex-container) > *,
.freeBox___4KeXv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4KeXv > :global(.__wab_flex-container) > picture > img,
.freeBox___4KeXv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__agS {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__agS > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__agS > :global(.__wab_flex-container) > *,
.freeBox__agS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__agS > :global(.__wab_flex-container) > picture > img,
.freeBox__agS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text__vlPx6 {
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  color: #000000d9;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-bottom: 0px;
  margin-top: 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vlPx6 {
    text-align: center;
  }
}
.button__weSRs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 99px;
  height: 32px;
  align-self: center;
  margin-left: calc(34px + 4px) !important;
  margin-right: 0px;
  flex-shrink: 0;
}
.svg__fqH1S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kIpdb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__gmCb9 {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__iB7Vo {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__iB7Vo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iB7Vo > :global(.__wab_flex-container) > *,
.freeBox__iB7Vo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iB7Vo > :global(.__wab_flex-container) > picture > img,
.freeBox__iB7Vo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.ul__mQGas {
  display: flex;
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding-left: 0px;
}
.li__jbBx4 {
  position: relative;
  padding-left: 0px;
  margin-top: 0px;
}
.li__lrF1W {
  position: relative;
}
.li__kHmpI {
  position: relative;
  height: auto;
}
.li__f7RXs {
  position: relative;
}
.li___4Wh51 {
  position: relative;
  padding-left: 0px;
}
.li__zYu6V {
  position: relative;
}
.li__vg44 {
  position: relative;
}
.li__jgIVl {
  position: relative;
  height: auto;
}
.li__kR7Ec {
  position: relative;
  margin-bottom: 0px;
}
.button__sXkWf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__dJrst {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pOvX6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__pIiXz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__yaNWb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yaNWb {
    width: 100%;
  }
}
.freeBox__qh1Jt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox__i8Lpy {
  flex-direction: column;
  display: flex;
  position: relative;
  margin-bottom: 0px;
  padding: 10px 32px 9px;
}
.freeBox__i8Lpy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__i8Lpy > :global(.__wab_flex-container) > *,
.freeBox__i8Lpy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i8Lpy > :global(.__wab_flex-container) > picture > img,
.freeBox__i8Lpy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__ewpDk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ewpDk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ewpDk > :global(.__wab_flex-container) > *,
.freeBox__ewpDk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ewpDk > :global(.__wab_flex-container) > picture > img,
.freeBox__ewpDk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__bpgp {
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  color: #34c759;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bpgp {
    text-align: center;
  }
}
.freeBox__jKjBu {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__cnu5M {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__cnu5M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cnu5M > :global(.__wab_flex-container) > *,
.freeBox__cnu5M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cnu5M > :global(.__wab_flex-container) > picture > img,
.freeBox__cnu5M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.ul__nQj0I {
  display: flex;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.li__y2Pg {
  position: relative;
}
.li__bUoLa {
  position: relative;
  margin-bottom: 0px;
}
.li__v0HfD {
  position: relative;
  padding-left: 0px;
}
.li__bWxKb {
  position: relative;
  padding-left: 0px;
  height: auto;
}
.li__bqnDv {
  position: relative;
}
.li__dmoV3 {
  position: relative;
}
.li__rkufx {
  position: relative;
  height: auto;
}
.li__yFo5I {
  position: relative;
}
.freeBox___6IZYi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__aXdtP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 18px;
  min-width: 0;
}
.button__jclSi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 45px;
}
.text__o5Xer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___3Chx6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__b9DRd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__y4Tn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__y4Tn {
    width: 100%;
  }
}
.freeBox___9AH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
  border: 1px solid #e5e5ea;
}
.freeBox___8G0Jv {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 10px 32px;
}
.freeBox___8G0Jv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___8G0Jv > :global(.__wab_flex-container) > *,
.freeBox___8G0Jv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8G0Jv > :global(.__wab_flex-container) > picture > img,
.freeBox___8G0Jv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___1Meap {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___1Meap > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___1Meap > :global(.__wab_flex-container) > *,
.freeBox___1Meap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Meap > :global(.__wab_flex-container) > picture > img,
.freeBox___1Meap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__r2Lqt {
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  color: #007aff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__r2Lqt {
    text-align: center;
  }
}
.freeBox__lcNRi {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___8D3YS {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox___8D3YS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8D3YS > :global(.__wab_flex-container) > *,
.freeBox___8D3YS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8D3YS > :global(.__wab_flex-container) > picture > img,
.freeBox___8D3YS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.ul__x3UUv {
  display: flex;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.li__bWKmq {
  position: relative;
}
.li__drcKu {
  position: relative;
  height: auto;
  padding-left: 0px;
}
.li__mefy7 {
  position: relative;
  height: auto;
}
.li__tlIDw {
  position: relative;
  margin-bottom: 0px;
}
.li__my5F {
  position: relative;
}
.li___5Kvug {
  position: relative;
}
.li__heUvX {
  position: relative;
}
.li___8JsVr {
  position: relative;
}
.li__csBqO {
  position: relative;
}
.li__tukq {
  position: relative;
  height: auto;
}
.button__lb1XP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__oVd29 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__pnzT4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___0AiKh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
